<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/about.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="img/logo.png" sizes="24*24" />
  </head>
  <body>
    <div class="how-it-works">
      <div class="how-it-works-child"></div>
      <div class="how-it-works-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <a href="/"><b class="home">Home</b></a>
      <a href="/"><b class="browse-tasks">Browse tasks</b></a>
      <div class="dropdown">
        <a><b class="how-it-works1">How It Works</b></a>
        <div class="dropdown-content">
          <a href="/Howitworks"><b>Details</b></a>
          <a href="/Helper"><b>Become a helper</b></a>
        </div>
      </div>
      <a href="/"><b class="contact">Contact</b></a>
      <div class="how-it-works-inner"></div>
      <b class="login">LOGIN</b>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-item"></div>
        <div class="describe-your-skill-parent">
          <div class="describe-your-skill">Describe your skill</div>
          <div class="get-offers-get-container">
            <span class="get-offers-get-container1">
              <p class="get-offers">GET OFFERS,</p>
              <p class="get-it-done">Get It Done</p>
            </span>
          </div>
          <div class="pick-the-best-container">
            <span class="get-offers-get-container1">
              <p class="get-it-done">Pick the best person</p>
              <p class="get-it-done">For your task.</p>
            </span>
          </div>
        </div>
        <div class="rectangle-group">
          <div class="group-inner"></div>
          <b class="get-started">Get-Started</b>
        </div>
        <img
          class="gettyimages-1311075523-gzcog1-icon"
          alt=""
          src="img/image1.png"
        />
      </div>
      <div class="group-parent">
        <div class="rectangle-container">
          <div class="rectangle-div"></div>
          <div class="group-child1"></div>
          <img class="screenshot-131-1" alt="" src="img/screenshot.png" />

          <div class="group-child2"></div>
          <div class="group-child3"></div>
          <div class="div">|</div>
        </div>
        <div class="describe-what-you-container">
          <p class="get-it-done">Describe what</p>
          <p class="get-it-done">you need help with</p>
        </div>
        <div class="help-with-moving">Help with Moving</div>
      </div>
      <div class="describe-what-you">Describe what you need done</div>
      <div class="briefly-outline-the-container">
        <p class="get-it-done">Briefly outline the task at ,</p>
        <p class="get-it-done">hand in a straightforward manner.</p>
        <p class="get-it-done">Keep it concise and clear to attract the most</p>
        <p class="get-it-done">qualified Taskers for the job.</p>
        <p class="get-it-done">&nbsp;</p>
      </div>
      <div class="ellipse-parent">
        <div class="ellipse-div"></div>
        <div class="group-child4"></div>
        <div class="group-container">
          <div class="rectangle-container">
            <div class="rectangle-div"></div>
            <div class="group-child1"></div>
            <img class="screenshot-131-1" alt="" src="img/screenshot.png" />

            <div class="group-child2"></div>
            <div class="group-child3"></div>
            <div class="div">|</div>
          </div>
          <div class="set-your-buget">Set Your Buget</div>
          <div class="div2">140</div>
        </div>
        <img class="vector-icon" alt="" src="img/vector.svg" />

        <div class="define-the-budget-container">
          <p class="get-it-done">Define the budget for your task.</p>
          <p class="get-it-done">&nbsp;</p>
        </div>
        <div class="feel-free-to-container">
          <p class="get-it-done">
            Feel free to modify your budget at any time and engage in
            discussions with potential Taskers if necessary
          </p>
          <p class="get-it-done">&nbsp;</p>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child9"></div>
        <div class="group-parent1">
          <div class="rectangle-container">
            <div class="rectangle-div"></div>
            <div class="group-child1"></div>
            <img class="screenshot-131-1" alt="" src="img/screenshot.png" />

            <div class="group-child2"></div>
            <div class="group-child13"></div>
            <div class="group-child14"></div>
          </div>
          <div class="helpers-are-here">Helpers are here</div>
          <div class="micah-wants-to">Micah wants to help</div>
          <div class="jeremy-wants-to">Jeremy wants to help</div>
        </div>
        <img class="vector-icon1" alt="" src="img/vector.svg" />

        <div class="get-quotes-and">
          Get Quotes and pick the helper you want
        </div>
        <div class="feel-free-to-container1">
          <p class="get-it-done">
            Feel free to modify your budget at any time and engage in
            discussions with potential Taskers if necessary
          </p>
          <p class="get-it-done">&nbsp;</p>
        </div>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child15"></div>
        <b class="get-started">Post your task</b>
      </div>
      <div class="rectangle-parent4">
        <div class="group-child15"></div>
        <b class="get-started">Post your task</b>
      </div>
      <div class="rectangle-parent5">
        <div class="group-child15"></div>
        <b class="get-started">Post your task</b>
      </div>
      <div class="rectangle-parent6">
        <div class="group-child18"></div>
        <div class="notifications">7 notifications</div>
        <img class="group-icon" alt="" src="img/group-15.png" />
      </div>
      <img class="blank-profile-picture-973460-1-icon" alt="" src="img/1.png" />

      <img
        class="blank-profile-picture-973460-1-icon1"
        alt=""
        src="./public/2.png"
      />

      <div class="rectangle-parent7">
        <div class="group-child19"></div>
        <div class="become-a-helper">BECOME A HELPER</div>
      </div>
      <div class="rectangle-parent8">
        <div class="group-child20"></div>
        <div class="need-helpp-doing">NEED HelpP DOING a task</div>
      </div>
      <div class="how-it-works-child1"></div>
    </div>
  </body>
</html>
