<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/browse-task.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="browse-tasks-for-seeker">
      <div class="browse-tasks-for-seeker-child"></div>
      <div class="browse-tasks-for-seeker-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <b class="home">Home</b>
      <b class="browse-tasks">Browse tasks</b>
      <div class="dropdown">
        <a><b class="how-it-works">How It Works</b></a>
        <div class="dropdown-content">
          <a href="/Howitworks"><b>Details</b></a>
          <a href="/Helper"><b>Become a helper</b></a>
        </div>
      </div>
      <b class="contact">Contact</b>
      <div class="browse-tasks-for-seeker-inner"></div>
      <b class="login" id="login-button">LOGIN</b>
      <div class="ellipse-div"></div>
      <div class="rectangle-div"></div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="frame">
          <div class="post-a-task">Post a task</div>
          <div class="login1">Login</div>
          <div class="browse-tasks1">Browse tasks</div>
          <div class="support-centre">Support centre</div>
        </div>
        <div class="frame1">
          <div class="frame2">
            <div class="sydney">Sydney</div>
            <div class="brisbane">Brisbane</div>
            <div class="adelaide">Adelaide</div>
            <div class="canberra">Canberra</div>
            <div class="perth">Perth</div>
            <div class="newcastle">Newcastle</div>
            <div class="melbourne">Melbourne</div>
          </div>
          <div class="popular-locations">Popular Locations</div>
        </div>
        <div class="frame3">
          <div class="frame4">
            <div class="how-it-works1">How it works</div>
            <div class="earn-money">Earn money</div>
            <div class="search-jobs">Search jobs</div>
            <div class="service-guides">Service Guides</div>
            <div class="student-discount">Student Discount</div>
            <div class="side-hustle-calculator">Side Hustle Calculator</div>
            <div class="comparison-guides">Comparison Guides</div>
            <div class="airtasker-for-business">Airtasker for business</div>
            <div class="new-users-faq">New users FAQ</div>
            <div class="cost-guides">Cost Guides</div>
          </div>
          <div class="discover">Discover</div>
        </div>
        <div class="frame5">
          <div class="company">Company</div>
          <div class="frame6">
            <div class="careers">Careers</div>
            <div class="community-guidelines">Community Guidelines</div>
            <div class="terms-and-conditions">Terms and Conditions</div>
            <div class="contact-us">Contact us</div>
            <div class="investors">Investors</div>
            <div class="about-us">About us</div>
            <div class="tasker-principles">Tasker Principles</div>
            <div class="privacy-policy">Privacy policy</div>
            <div class="blog">Blog</div>
            <div class="media-enquiries">Media enquiries</div>
          </div>
        </div>
        <div class="frame7">
          <div class="popular-categories">Popular Categories</div>
          <div class="frame8">
            <div class="cleaning-services">Cleaning Services</div>
            <div class="removalists">Removalists</div>
            <div class="auto-electricians">Auto Electricians</div>
            <div class="all-services">All Services</div>
            <div class="handyman-services">Handyman Services</div>
            <div class="gardening-services">Gardening Services</div>
            <div class="assembly-services">Assembly Services</div>
            <div class="delivery-services">Delivery Services</div>
          </div>
        </div>
        <div class="existing-members">Existing Members</div>
      </div>
      <div class="browse-tasks-for-seeker-child1"></div>
      <div class="browse-tasks-for-seeker-child2"></div>
      <div class="browse-tasks-for-seeker-child3"></div>
      <div class="browse-tasks-for-seeker-child4"></div>
      <div class="browse-tasks-for-seeker-child5"></div>
      <div class="frame9">
        <div class="frame10">
          <input
            class="rectangle"
            id="search-bar"
            type="text"
            placeholder="  Search for tasks"
          />
        </div>
        <div class="frame11 dropdown-container">
          <div class="rectangle1"></div>
          <img class="frame-icon" alt="" src="img/down-arrow.png" />
          <div class="category">Category</div>
          <div class="dropdown-menu" id="dropdown">
            <p>
              <input
                type="checkbox"
                value="category"
                onclick="handleCheckboxClick(this)"
              />
              Gardening
            </p>
            <p>
              <input
                type="checkbox"
                value="Plumbing"
                onclick="handleCheckboxClick(this)"
              />
              Plumbing
            </p>
            <p>
              <input
                type="checkbox"
                value="Cleaning"
                onclick="handleCheckboxClick(this)"
              />
              Cleaning
            </p>
            <p>
              <input type="checkbox" onclick="clearSelections()" />
              Clear
            </p>
          </div>
        </div>
        <div class="frame12">
          <div class="rectangle1"></div>
        </div>
        <div class="frame13 dropdown-container">
          <div class="rectangle1"></div>
          <div class="sort">Sort</div>
          <img
            class="frame-icon1"
            alt=""
            id="dropdown-icon1"
            src="img/down-arrow.png"
          />
          <div class="dropdown-menu1">
            <p>
              <input
                type="checkbox"
                value="Ascending"
                onclick="handleCheckboxClick1(this)"
              />
              From lowest to highest
            </p>
            <p>
              <input
                type="checkbox"
                value="Descending"
                onclick="handleCheckboxClick1(this)"
              />
              From highest to lowest
            </p>
            <p>
              <input type="se" onclick="clearSelections()" />
              Clear
            </p>
          </div>
        </div>
        <div class="frame14 dropdown-container">
          <div class="rectangle1"></div>
          <img class="frame-icon2" alt="" src="img/down-arrow.png" />
          <div class="mi-new-york">30mi New York City & remotely</div>
          <div class="dropdown-menu">
            <p>
              <input
                type="checkbox"
                value="Doncaster East"
                onclick="handleCheckboxClick(this)"
              />
              Doncaster East
            </p>
            <p>
              <input
                type="checkbox"
                value="Glen Waverley"
                onclick="handleCheckboxClick(this)"
              />
              Glen Waverley
            </p>
            <p>
              <input
                type="checkbox"
                value="Coburg"
                onclick="handleCheckboxClick(this)"
              />
              Coburg
            </p>
            <p>
              <input
                type="checkbox"
                value="Altona"
                onclick="handleCheckboxClick(this)"
              />
              Altona
            </p>
            <p>
              <input
                type="checkbox"
                value="Balwyn"
                onclick="handleCheckboxClick(this)"
              />
              Balwyn
            </p>
            <p>
              <input
                type="checkbox"
                value="Bentleigh"
                onclick="handleCheckboxClick(this)"
              />
              Bentleigh
            </p>
            <p>
              <input
                type="checkbox"
                value="Ascot Vale"
                onclick="handleCheckboxClick(this)"
              />
              Ascot Vale
            </p>
            <p>
              <input
                type="checkbox"
                value="Blackburn"
                onclick="handleCheckboxClick(this)"
              />
              Blackburn
            </p>
            <p>
              <input
                type="checkbox"
                value="Eltham"
                onclick="handleCheckboxClick(this)"
              />
              Eltham
            </p>
            <p>
              <input
                type="checkbox"
                value="Essendon"
                onclick="handleCheckboxClick(this)"
              />
              Essendon
            </p>
            <p>
              <input type="checkbox" onclick="clearSelections()" />
              Clear
            </p>
          </div>
        </div>
        <div class="frame15 dropdown-container">
          <div class="rectangle1"></div>
          <img class="frame-icon3" alt="" src="img/down-arrow.png" />
          <div class="other-filters">Other filters</div>
          <div class="dropdown-menu2">
            <p style="font-size: 15px">Pay Filter</p>
            <input
              class="slider"
              type="range"
              id="amount"
              name="amount"
              min="0"
              max="1000"
              value="50"
            />
            <span id="amountValue"></span>
            <p>
              <input type="checkbox" onclick="clearSelections()" />
              Clear
            </p>
          </div>
        </div>
        <img class="icon-search" alt="" src="img/search.png" />
      </div>
      <div class="rectangle-group">
        <div class="frame-child" id="main-container"></div>
      </div>

      <div id="floating-window" class="floating-window"></div>
    </div>
    <script src="js/browse-task.js"></script>
  </body>
</html>
