<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/chat.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Segoe UI:wght@300;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Compact Display:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="messaging-page">
      <div class="messaging-page-child"></div>
      <div class="messaging-page-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <b class="home">Home</b>
      <div class="browse-tasks">Browse tasks</div>
      <b class="my-tasks">My Tasks</b>
      <b class="contact">Contact</b>
      <img
        class="blank-profile-picture-973460-1-icon"
        alt=""
        src="img/profile.png"
      />

      <div class="messaging-page-inner"></div>
      <div class="ellipse-div"></div>
      <div class="messaging-page-child1"></div>
      <div class="messaging-page-child2"></div>

      <div class="light-mode">
        <div class="light-mode-child"></div>
        <div class="light-mode-item"></div>
        <div class="light-mode-inner"></div>
        <div class="rectangle-div"></div>
        <div class="light-mode-child1"></div>
        <div class="light-mode-child2"></div>
        <div class="oladele-oluwadare-parent">
          <b class="oladele-oluwadare">
            <p class="oladele">Oladele</p>
            <p class="oladele">Oluwadare</p>
          </b>
          <img
            class="vuesaxlinearsetting-2-icon"
            alt=""
            src="img/setting-2.png"
          />
        </div>
        <div class="line-div"></div>
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="blank-profile-picture-973460-1-parent">
            <img
              class="blank-profile-picture-973460-1-icon1"
              alt=""
              src="img/profile.png"
            />

            <div class="group-child"></div>
            <div class="gapd-despro">GAPD DesPro</div>
            <div class="tosin-okeowo-container">
              <span>Tosin Okeowo:</span>
            </div>
            <div class="div">17:36</div>
          </div>
        </div>
        <div class="chat-bubble">
          <div class="your-name-wrapper">
            <div class="your-name">Ejinne Seun</div>
          </div>
          <div class="bubble-right">
            <div class="rectangle-group">
              <div class="frame-item"></div>
              <div class="frame-inner"></div>
            </div>
            <div class="text-wrapper">
              <div class="text">
                <p class="oladele">Naaaa bro</p>
                <p class="oladele">
                  Hin still dey house jare , I no sure say i wan sell am tho
                </p>
              </div>
            </div>
            <div class="rectangle-container">
              <div class="frame-item"></div>
              <div class="frame-inner"></div>
              <div class="frame-item1"></div>
            </div>
          </div>
        </div>
        <div class="div1">13:00</div>
        <div class="chat-bubble1">
          <div class="your-name-wrapper">
            <div class="your-name1">Me</div>
          </div>
          <div class="bubble-left">
            <div class="frame-div">
              <div class="frame-child4"></div>
              <div class="frame-child5"></div>
            </div>
            <div class="text-container">
              <div class="text1">
                <p class="oladele">
                  How far that motor wey you talk say you wan dash your babe
                  that day, your don sell am abi hin still dey house ?
                </p>
                <p class="oladele">Be like say i don get buyer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="div2">12:41</div>
        <div class="chat-bubble2">
          <div class="your-name-frame">
            <div class="your-name2">Gautham</div>
          </div>
          <div class="bubble-right1">
            <div class="rectangle-group">
              <div class="frame-item"></div>
              <div class="frame-inner"></div>
            </div>
            <div class="text-wrapper">
              <div class="text">
                Baba sell that car wey you win from that our competition that
                year na, you suppose don buy maserrati by now na
              </div>
            </div>
            <div class="rectangle-container">
              <div class="frame-item"></div>
              <div class="frame-inner"></div>
              <div class="frame-item1"></div>
            </div>
          </div>
        </div>
        <img class="group-icon" alt="" src="img/Group.png" />

        <div class="group-div">
          <div class="group-item"></div>
          <img
            class="vuesaxlinearsearch-zoom-in-icon"
            alt=""
            src="img/search.png"
          />

          <div class="search-or-start">Search or start a new chat</div>
        </div>
        <div class="type-a-message">Type a message or send a voice note</div>
        <img
          class="vuesaxlinearmicrophone-2-icon"
          alt=""
          src="img/microphone-2.png"
        />

        <img class="smiley-icon" alt="" src="img/Smiley.png" />

        <img class="paperclip-icon" alt="" src="img/Paperclip.png" />

        <img
          class="blank-profile-picture-973460-1-icon2"
          alt=""
          src="img/profile.png"
        />
      </div>
    </div>
  </body>
</html>
