<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/contactus.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="contact">
      <div class="contact-child"></div>
      <div class="contact-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <a href="/"><b class="home">Home</b></a>
      <div class="dropdown">
        <a><b class="browse-tasks">How It Works</b></a>
        <div class="dropdown-content">
          <a href="/Howitworks"><b>Details</b></a>
          <a href="/Helper"><b>Become a helper</b></a>
        </div>
      </div>
      <a href="/contact"><b class="my-tasks">Contact</b></a>
      <div class="contact-inner"></div>
      <div class="rectangle-div"></div>
      <div class="contact-child1"></div>
      <img class="logo-icon1" alt="" src="img/logo.svg" />

      <div class="frame-div">
        <input type="text" id="fname" placeholder="Enter your first name" />
        <div class="first-name-wrapper">
          <div class="first-name">First Name</div>
        </div>
      </div>
      <div class="contact-inner1">
        <input type="text" id="lsname" placeholder="Enter your Last name" />
        <div class="first-name-wrapper">
          <div class="first-name">Last Name</div>
        </div>
      </div>
      <div class="contact-inner2">
        <input type="text" id="email" placeholder="Enter your Email" />
        <div class="first-name-wrapper">
          <div class="first-name">Email</div>
        </div>
      </div>
      <div class="ellipse-div"></div>
      <div class="contact-child2"></div>
      <div class="contact-child3"></div>
      <img
        class="eclipse-selection-icon"
        alt=""
        src="img/eclipse-selection.png"
      />

      <div class="contact-child4">
        <input
          type="text"
          class="contact-child14"
          id="msg"
          placeholder="LEAVE YOUR MESSAGE HERE"
        />
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="submit" id="submit">SUBMIT</div>
      </div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="contact-us">Contact us</div>
        <div class="email-s221127495gmailcom">Email: s221127495@gmail.com</div>
        <div class="frame">
          <img class="frame-icon" alt="" src="img/frame.png" />

          <img class="frame-icon1" alt="" src="img/frame1.png" />

          <img class="frame-icon2" alt="" src="img/frame2.png" />
        </div>
        <div class="frame1">
          <div class="frame2">
            <div class="sydney">Sydney</div>
            <div class="brisbane">Brisbane</div>
            <div class="adelaide">Adelaide</div>
            <div class="canberra">Canberra</div>
            <div class="perth">Perth</div>
            <div class="newcastle">Newcastle</div>
            <div class="melbourne">Melbourne</div>
          </div>
          <div class="popular-locations">Popular Locations</div>
        </div>
        <div class="frame3">
          <div class="frame4">
            <div class="how-it-works">How it works</div>
            <div class="earn-money">Earn money</div>
            <div class="search-jobs">Search jobs</div>
            <div class="service-guides">Service Guides</div>
            <div class="student-discount">Student Discount</div>
            <div class="side-hustle-calculator">Side Hustle Calculator</div>
            <div class="comparison-guides">Comparison Guides</div>
            <div class="airtasker-for-business">Airtasker for business</div>
            <div class="new-users-faq">New users FAQ</div>
            <div class="cost-guides">Cost Guides</div>
          </div>
          <div class="discover">Discover</div>
        </div>
        <div class="frame5">
          <div class="company">Company</div>
          <div class="frame6">
            <div class="careers">Careers</div>
            <div class="community-guidelines">Community Guidelines</div>
            <div class="terms-and-conditions">Terms and Conditions</div>
            <div class="contact-us1">Contact us</div>
            <div class="investors">Investors</div>
            <div class="about-us">About us</div>
            <div class="tasker-principles">Tasker Principles</div>
            <div class="privacy-policy">Privacy policy</div>
            <div class="blog">Blog</div>
            <div class="media-enquiries">Media enquiries</div>
          </div>
        </div>
        <div class="frame7">
          <div class="popular-categories">Popular Categories</div>
          <div class="frame8">
            <div class="cleaning-services">Cleaning Services</div>
            <div class="removalists">Removalists</div>
            <div class="auto-electricians">Auto Electricians</div>
            <div class="all-services">All Services</div>
            <div class="handyman-services">Handyman Services</div>
            <div class="gardening-services">Gardening Services</div>
            <div class="assembly-services">Assembly Services</div>
            <div class="delivery-services">Delivery Services</div>
          </div>
        </div>
      </div>
      <div class="location-deakin-university">
        Location: Deakin University, Burwood Hwy
      </div>
      <div class="phone-no-04987536625">Phone no. 04987536625</div>
      <div class="we-are-available-container">
        <span class="leave-your-message-container1">
          <p class="we-are-available">
            We are available to answer your questions
          </p>
          <p class="we-are-available">&nbsp;</p>
          <p class="do-you-want">
            Do you want to consult one of our experts? Talk to us in whatever
            way is most convenient for you. 
          </p>
        </span>
      </div>
      <div class="helphand-pty-ltd-abn-container">
        <span class="leave-your-message-container1">
          <p class="leave-your-message">
            <span class="helphand-pty-ltd-abn-26-125-981">
              <span class="helphand-pty-ltd-abn">Helphand pty ltd </span>
              <br />
              <span class="helphand-pty-ltd-abn">ABN: </span>
              <span class="span">26 125 986 251</span>
              <br />
              <span class="mobile">Mobile: </span>
              <span class="span">0456 182 814</span>
              <br />
              <span class="mobile">Email:</span>
            </span>
            <span class="s221127495deakineduau"> s221127495@deakin.edu.au</span>
            <span class="location">&nbsp;</span>
          </p>
          <p class="leave-your-message">
            <span class="location">location: </span>
            <span class="deakin-university-burwood"
              >Deakin university, bURWOOD hWY</span
            >
            <span class="helphand-pty-ltd-abn-26-125-981">
              <span class="helphand-pty-ltd-abn"> </span>
            </span>
          </p>
          <p class="leave-your-message">
            <span class="helphand-pty-ltd-abn-26-125-981">
              <span class="helphand-pty-ltd-abn">Opening hours: </span>
              <span class="am-to-5pm">9am to 5pm Monday to Friday.</span>
            </span>
          </p>
        </span>
      </div>
    </div>
    <script src="js/contactus.js"></script>
  </body>
</html>
