<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/helper.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="become-a-helper">
      <div class="become-a-helper-child"></div>
      <div class="become-a-helper-item"></div>
      <div class="become-a-helper-inner"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <a href="/"><b class="home">Home</b></a>
      <a href="#"><b class="browse-tasks">Browse tasks</b></a>
      <div class="dropdown">
        <a><b class="how-it-works">How It Works</b></a>
        <div class="dropdown-content">
          <a href="/Howitworks"><b>Details</b></a>
          <a href="/Helper"><b>Become a helper</b></a>
        </div>
      </div>
      <a href="#"><b class="contact">Contact</b></a>
      <div class="rectangle-div"></div>
      <b class="login">LOGIN</b>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="take-the-reins-of-your-journey-parent">
          <div class="take-the-reins-container">
            <span class="take-the-reins-container1">
              <p class="take-the-reins">Take the reins of your journey</p>
            </span>
          </div>
          <div class="become-the-boss-container">
            <span class="take-the-reins-container1">
              <p class="become-the-boss">become the boss of your own path!</p>
            </span>
          </div>
          <div class="pick-the-best-container">
            <span class="take-the-reins-container1">
              <p class="pick-the-best">Pick the best person</p>
              <p class="pick-the-best">For your task.</p>
            </span>
          </div>
        </div>
      </div>
      <div class="ellipse-div"></div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="group-wrapper">
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <div class="group-child1"></div>
            <div class="fri-12-jan">Fri, 12 Jan - Flexible</div>
            <div class="offers">2 Offers</div>
            <div class="open">Open</div>
            <div class="need-help-cleaning">Need help cleaning house</div>
          </div>
        </div>
        <div class="explore-employment-prospects-container">
          <p class="pick-the-best">Explore employment prospects at no cost.</p>
          <p class="pick-the-best">&nbsp;</p>
        </div>
        <div class="sign-up-now-container">
          <p class="pick-the-best">Sign up now and get started</p>
        </div>
      </div>
      <div class="group-div">
        <div class="group-item"></div>
        <div class="group-container">
          <div class="rectangle-parent1">
            <div class="group-child3"></div>
            <img
              class="cleaning-tips-from-professiona-icon"
              alt=""
              src="img/group11.png"
            />

            <img class="rectangle-icon" alt="" src="img/rectangle22.png" />

            <div class="div">300 |</div>
            <div class="need-help-cleaning1">Need help cleaning house</div>
            <div class="name-your-price">Name your price</div>
            <div class="group-child4"></div>
            <b class="offer">Offer</b>
          </div>
        </div>
        <div class="name-your-price1">Name your Price</div>
        <div class="discovered-a-task-container">
          <p class="pick-the-best">
            Discovered a task you're interested in? Specify your price and
            present your offer. Feel free to modify and discuss it at a later
            stage if necessary
          </p>
          <p class="pick-the-best">&nbsp;</p>
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child5"></div>
        <b class="post-your-task">Post your task</b>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child5"></div>
        <b class="post-your-task">Join helphand</b>
      </div>
      <img
        class="istockphoto-1326249750-612x612-icon"
        alt=""
        src="img/image3.png"
      />

      <img
        class="blank-profile-picture-973460-1-icon"
        alt=""
        src="img/profile.png"
      />

      <img class="ellipse-icon" alt="" src="img/ecllipse.png" />

      <div class="rectangle-parent4">
        <div class="group-child7"></div>
        <div class="become-a-helper1">BECOME A HELPER</div>
      </div>
      <div class="rectangle-parent5">
        <div class="group-child8"></div>
        <div class="need-helpp-doing">NEED HelpP DOING a task</div>
      </div>
      <div class="become-a-helper-child1"></div>
      <div class="vector-parent">
        <img class="group-child9" alt="" src="img/rectangle15.png" />

        <div class="group-child10"></div>
        <img class="screenshot-131-1" alt="" src="img/screenshot1.png" />

        <div class="create-you-profile">Create you profile and get started</div>
        <div class="rectangle-parent6">
          <div class="group-child11"></div>
          <b class="get-started">Get Started</b>
          <div class="its-free-and-container">
            <p class="pick-the-best">
              It’s free and takes less than a minute to sign up
            </p>
            <p class="pick-the-best">&nbsp;</p>
          </div>
          <div class="group-frame">
            <div class="rectangle-parent7">
              <div class="group-child12"></div>
              <div class="group-child13"></div>
              <div class="experienced-and-dedicated-container">
                <p class="pick-the-best">
                  Experienced and dedicated End of lease cleaner
                </p>
                <p class="pick-the-best">
                  with almost 5 years of industry experience
                </p>
                <p class="pick-the-best">someone you could rely on.</p>
              </div>
              <div class="jackson">JACKSON</div>
              <div class="group-child14"></div>
              <img
                class="blank-profile-picture-973460-1-icon1"
                alt=""
                src="img/blank.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
