<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="loginsign-up">
      <div class="loginsign-up-child"></div>
      <div class="loginsign-up-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <div class="help-hand-parent">
        <div class="help-hand">Help Hand</div>
        <div class="unleash-the-power">Unleash the Power of</div>
        <div class="pick-the-best-container">
          <span class="pick-the-best-container1">
            <p class="pick-the-best">Pick the best person</p>
            <p class="pick-the-best">For your task.</p>
          </span>
        </div>
      </div>
      <div class="create-account" style="font-weight: 600">Create account</div>
      <div class="login-into-account" style="font-weight: 600">
        Login into account
      </div>
      <div class="loginsign-up-inner"></div>
      <div class="ellipse-div"></div>

      <div class="frame-div">
        <input type="text" id="register-first-name" placeholder="First Name" />
        <div class="first-name-wrapper">
          <div class="first-name">First name</div>
        </div>
      </div>

      <div class="loginsign-up-inner1">
        <input
          type="email"
          id="register-email"
          placeholder="Email"
          style="width: 613px"
        />
        <div class="email-wrapper">
          <div class="first-name">Email</div>
        </div>
      </div>

      <div class="loginsign-up-inner2">
        <input
          type="email"
          id="login-email"
          placeholder="Email"
          style="width: 613px"
        />
        <div class="email-container">
          <div class="first-name">Email</div>
        </div>
      </div>

      <div class="loginsign-up-inner3">
        <input
          type="password"
          id="register-password"
          placeholder="Password"
          style="width: 613px"
        />
        <div class="password-wrapper">
          <div class="first-name">Password</div>
        </div>
      </div>

      <div class="loginsign-up-inner4">
        <input
          type="password"
          id="login-password"
          placeholder="Password"
          style="width: 613px"
        />
        <div class="password-container">
          <div class="first-name">Password</div>
        </div>
      </div>

      <div class="loginsign-up-inner5">
        <input type="text" id="register-last-name" placeholder="Last Name" />
        <div class="last-name-wrapper">
          <div class="first-name">Last name</div>
        </div>
      </div>

      <div class="rectangle-div" id="rectangle"></div>
      <div class="loginsign-up-child1" id="rectangle1"></div>
      <b class="login" id="login-button">LOGIN</b>
      <b class="sign-up" id="register-button">SIGN UP</b>
      <div class="loginsign-up-child2"></div>
      <div class="loginsign-up-child3"></div>

      <a href="/"><b class="home">Home</b></a>
      <b class="browse-tasks">Browse tasks</b>
      <div class="dropdown">
        <a><b class="how-it-works">How It Works</b></a>
        <div class="dropdown-content">
          <a href="/Howitworks"
            ><b style="font-size: var(--font-size-xs)">Details</b></a
          >
          <a href="/Helper"
            ><b style="font-size: var(--font-size-xs)">Become a helper</b></a
          >
        </div>
      </div>
      <b class="contact">Contact</b>
    </div>

    <script src="js/register.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
