<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap"
    />
  </head>
  <body>
    <div class="profile-management">
      <div class="profile-management-child"></div>
      <div class="profile-management-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <a href="/"><b class="home">Home</b></a>
      <b class="browse-tasks">Browse tasks</b>
      <b class="my-tasks" id="myTasksText">My Tasks</b>
      <b class="contact">Contact</b>
      <b class="messages">Messages</b>
      <b class="notifications">Notifications</b>
      <div class="dropdown">
        <img
          id="profile"
          class="blank-profile-picture-973460-1-icon"
          alt=""
          src="img/profile.png"
        />
        <div class="dropdown-content">
          <a href=""><b>Settings</b></a>
          <a id="logout"><b>logout</b></a>
        </div>
      </div>

      <div class="profile-management-inner"></div>
      <div class="rectangle-div"></div>
      <div class="profile-management-child1"></div>
      <div class="profile-management-child2"></div>
      <img class="logo-icon1" alt="" src="img/logo.svg" />

      <div class="user-didnt-received-container">
        <p class="user-didnt-received">user did’nt received any review</p>
        <p class="user-didnt-received">just yet</p>
      </div>
      <div class="as-a-helper">As a Helper</div>
      <img
        class="blank-profile-picture-973460-1-icon1"
        alt=""
        src="img/profile.png"
      />

      <div class="user-container">
        <div class="user-name">
          <span class="user-nam" id="username">User Nam</span>
        </div>
        <input type="text" class="edit-input" id="usernameInput" />
      </div>

      <div class="st-albans-vic" id="location">st albans Vic, australia</div>
      <input type="text" class="edit-loc" id="locationInput" />
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="about">DOB</div>
        <div class="tagline">FullName</div>
        <div class="you-can-edit" id="dob">7.06.200</div>
        <div class="something-that-best" id="fullname">hemant ujjal</div>
      </div>
      <div class="rectangle-group">
        <div class="frame-child"></div>
        <div class="about">Portfolio</div>
        <div class="you-can-edit">ADD Items to your portfolio</div>
        <img class="frame-inner" alt="" src="img/rectangle28.png" />

        <img
          class="plus-1-icon"
          alt=""
          src="img/plus.png"
          id="uploadImageIcon"
        />
        <input type="file" id="uploadImageInput" style="display: none" />
      </div>
      <!-- 
      <img class="edit-246-1-icon1" alt="" src="img/edit.png" />
      <img class="edit-246-1-icon2" alt="" src="img/edit.png" /> -->

      <img
        class="edit-246-2-icon3"
        alt=""
        src="img/edit.png"
        id="editUsernameIcon"
      />

      <img
        class="edit-246-2-iconloc"
        alt=""
        src="img/edit.png"
        id="editLocIcon"
      />
    </div>

    <script type="text/javascript">
      window.history.forward();
      function noBack() {
        window.history.forward();
      }
    </script>
    <script src="js/profile.js"></script>
  </body>
</html>
