<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/task.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="posting-task">
      <div class="posting-task-child"></div>
      <div class="posting-task-item"></div>
      <img class="logo-icon" alt="" src="img/logo.svg" />

      <div class="home-parent">
        <a href="/"><b class="home">Home</b></a>
        <b class="my-tasks">My Tasks</b>
        <b class="contact">Contact</b>
        <b class="messages">Messages</b>
        <b class="notifications">Notifications</b>
        <img
          class="blank-profile-picture-973460-1-icon"
          alt=""
          src="img/profile.png"
        />
      </div>
      <div class="posting-task-inner"></div>
      <div class="rectangle-div"></div>
      <div class="post-a-task1">Post a task</div>
      <div class="basic-information">Basic Information</div>
      <div class="when-do-u">When do u need it</div>
      <div class="what-you-need">What you need done</div>
      <div class="where-do-u">Where do u need it</div>
      <div class="details">dETAILS</div>
      <div class="what-time-of">What time of the day you need it</div>
      <div class="ellipse-div"></div>
      <div class="add-pictures-for">add PICTURES FOR HELP</div>
      <div class="budget">BDGET</div>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="eg-i-need">EG i need it in st Albans</div>
      </div>
      <div class="rectangle-group">
        <div class="frame-item"></div>
        <div class="ex-deatails-about-container">
          <span class="ex-deatails-about-container1">
            <p class="ex-deatails-about">
              ex DEATAILS ABOUT THE TASK ABOUT HOW BIG THE GARAGE IS AND WILL
              YOU PROVIDE THE
            </p>
            <p class="equipments-or-not">EQUIPMENTS OR NOT</p>
          </span>
        </div>
      </div>
      <div class="rectangle-container">
        <div class="frame-inner"></div>
        <b class="offer">Offer</b>
      </div>
      <div class="posting-task-child1"></div>
      <div class="eg120">
        <input
          class="input1"
          type="text"
          name="currency-field"
          id="currencyfield"
          pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
          value=""
          data-type="currency"
          placeholder="$0"
        />
      </div>
      <img class="rectangle-icon" alt="" src="img/rectangle11.png" />

      <b class="post-task">post task</b>
      <div class="frame-div">
        <div class="frame-child"></div>
        <div class="eg-i-need">EG In the morning (9am-11 pm)</div>
      </div>
      <div class="rectangle-parent1">
        <div class="frame-child"></div>
        <div class="eg-91024">EG 9/10/24</div>
      </div>
      <div class="rectangle-parent2">
        <div class="frame-child"></div>
        <div class="eg-91024">EG i need help me clean my garage</div>
      </div>
      <img class="posting-task-child2" alt="" src="img/rectangle28.png" />

      <img class="posting-task-child3" alt="" src="img/rectangle28.png" />

      <img class="posting-task-child4" alt="" src="img/rectangle28.png" />

      <img
        class="plus-1-icon"
        id="upload-container"
        alt=""
        src="img/plus.png"
      />
      <input
        type="file"
        id="file-input"
        accept="image/*"
        onchange="previewImage(this)"
      />

      <img
        class="plus-2-icon"
        id="upload-container1"
        alt=""
        src="img/plus.png"
      />
      <input
        type="file"
        id="file-input1"
        accept="image/*"
        onchange="previewImage(this)"
      />

      <img
        class="plus-3-icon"
        id="upload-container2"
        alt=""
        src="img/plus.png"
      />
      <input
        type="file"
        id="file-input2"
        accept="image/*"
        onchange="previewImage(this)"
      />
    </div>

    <!-- jQuery library -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/task.js"></script>
  </body>
</html>
