<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/loginStyles.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="auth-page">
      <div class="ring-container">
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="ring"></div>
        <div class="login">
          <h2>Login</h2>
          <form class="login-form">
            <input type="text" placeholder="Username" class="input-field" />
            <input type="password" placeholder="Password" class="input-field" />
            <input type="submit" value="Sign in" class="submit-btn" />
          </form>
          <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#">Signup</a>
          </div>
        </div>
      </div>
      <div class="title-section">
        <div class="custom-bg"></div>
        <h2 class="sub-title">UNLEASH THE POWER</h2>
        <h1 class="main-title">HELP HAND</h1>
      </div>
    </div>
  </body>
</html>
