.wrap {
  position: relative;
  height: 100vh;
  top: 724px;
  left: -50px;
}

canvas {
  width: 100%;
  height: 100%;
}

.landing-page-child {
  position: absolute;
  top: 824px;
  left: 142px;
  border-radius: 50%;
  background: linear-gradient(135.94deg, #d8e6ef 8.44%, #b4d8e4);
  width: 272px;
  height: 279.4px;
  cursor: pointer;
  animation: revolve 6s infinite linear;
  transition: transform 0.3s ease-in-out;
}

.landing-page-child:hover {
  transform: scale(1.1);
}

@keyframes revolve {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .landing-page-item {
  position: absolute;
  top: -460px;
  left: 463px;
  border-radius: 50%;
  background: linear-gradient(135.94deg, #d8e6ef 8.44%, #b4d8e4), #d9d9d9;
  width: 1421px;
  height: 1432px;
} */

.landing-page-item {
  position: absolute;
  top: -460px;
  left: 463px;
  border-radius: 50%;
  background: linear-gradient(135.94deg, #d8e6ef 8.44%, #b4d8e4), #d9d9d9;
  width: 1421px; /* Set to a width larger than the viewport */
  height: 1432px;
}

.landing-page-inner {
  position: absolute;
  top: 430px;
  left: 716px;
  border-radius: var(--br-19xl);
  background-color: rgba(186, 209, 218, 0.67);
  backdrop-filter: blur(7.3px);
  width: 611px;
  height: 409px;
}
.istockphoto-1158246660-612x612-icon {
  position: absolute;
  top: 409px;
  left: 684px;
  border-radius: var(--br-19xl);
  width: 612px;
  height: 408px;
  object-fit: cover;
}
.help-hand {
  position: absolute;
  top: 68px;
  left: 0;
  font-size: 114.84px;
  letter-spacing: -0.04em;
  line-height: 23.95px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 628px;
  height: 179px;
}
.community-assistance-connect,
.unleash-the-power {
  position: absolute;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.community-assistance-connect {
  top: 243px;
  letter-spacing: 0.01em;
  line-height: 31.24px;
  color: var(--color-darkslategray-100);
  width: 244.38px;
}
.unleash-the-power {
  top: 0;
  font-size: 24.81px;
  letter-spacing: 0.73em;
  line-height: 21.15px;
  text-transform: uppercase;
  width: 833.75px;
  height: 136.94px;
}
.pick-the-best {
  margin: 0;
}
.pick-the-best-container1 {
  width: 100%;
}
.pick-the-best-container {
  position: absolute;
  top: 247px;
  left: 5px;
  letter-spacing: 0.01em;
  line-height: 31.24px;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  display: none;
  align-items: center;
  width: 244.38px;
}
.help-hand-parent {
  position: absolute;
  top: 170px;
  left: 142px;
  width: 833.75px;
  height: 306px;
  color: var(--color-black);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9.26px;
  background: linear-gradient(167.04deg, #afe9fd, #73adc1);
  border: 1.7px solid var(--color-skyblue-100);
  box-sizing: border-box;
  width: 154px;
  height: 46.32px;
}
.get-started {
  position: absolute;
  top: 14px;
  left: 17px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #ffffff;
}
.rectangle-parent {
  position: absolute;
  top: 519px;
  left: 142px;
  width: 154px;
  height: 46.32px;
  font-size: 13.89px;
  color: var(--color-white);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 17.11px;
  background-color: rgba(125, 185, 206, 0.15);
  backdrop-filter: blur(26.12px);
  border: 1.5px solid rgba(134, 196, 217, 0.36);
  box-sizing: border-box;
  width: 209px;
  height: 80.46px;
}
.help-me-move,
.melbourne-110 {
  position: absolute;
  top: 10px;
  left: 49px;
  line-height: 16.74px;
  font-weight: 600;
  text-shadow: 1px 0 0 rgba(255, 251, 251, 0.5),
    0 1px 0 rgba(255, 251, 251, 0.5), -1px 0 0 rgba(255, 251, 251, 0.5),
    0-1px 0 rgba(255, 251, 251, 0.5);
}
.melbourne-110 {
  top: 50px;
  left: 48px;
}
.group-inner {
  position: absolute;
  top: 41.5px;
  left: 6.5px;
  border-radius: 116px;
  max-height: 100%;
  width: 194.5px;
}
.rectangle-group {
  position: absolute;
  top: 342px;
  left: 1105px;
  width: 209px;
  height: 80.46px;
  font-size: 16.24px;
  color: var(--color-gray-100);
}

.taskes-revolving-icon {
  position: absolute;
  top: 1309px;
  left: 45px;
  border-radius: 37px;
  width: 843px;
  height: 604px;
  overflow: hidden;
  z-index: 1;
}

.taskes-revolving-icon1 {
  position: absolute;
  top: 1309px;
  left: 45px;
  width: 840px;
  height: 604px;
  overflow: hidden;
  z-index: 0;
  object-fit: cover;
  border-radius: 37px;
}

.rectangle {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(196.78deg, #9ae0d3, #35a7a0 96.07%);
  height: 28px;
}
.div,
.frame3,
.rectangle {
  position: absolute;
}
.div {
  width: 25%;
  top: calc(50% - 13px);
  left: 39.29%;
  line-height: 25.2px;
  display: inline-block;
}
.frame3 {
  width: 11.38%;
  top: calc(50% - 13.95px);
  right: 88.62%;
  left: 0;
  height: 28px;
}
.describe-what-you {
  position: absolute;
  width: 74.39%;
  top: calc(50% - 22.95px);
  left: 17.89%;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-midnightblue);
  display: inline-block;
}
.frame2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
}
.div1,
.pick-the-best1 {
  position: absolute;
  width: 35.71%;
  top: calc(50% - 13px);
  left: 32.14%;
  line-height: 25.2px;
  display: inline-block;
}
.pick-the-best1 {
  width: 74.8%;
  top: calc(50% - 22.95px);
  left: 17.89%;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-midnightblue);
}
.frame4 {
  position: absolute;
  width: 100%;
  top: 108px;
  right: 0;
  left: 0;
  height: 48px;
  color: #fefeff;
}
.set-your-budget {
  position: absolute;
  width: 50.81%;
  top: calc(50% - 11.95px);
  left: 17.89%;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-midnightblue);
  display: inline-block;
}
.frame1,
.frame6 {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  height: 28px;
  color: #fbfcff;
}
.frame1 {
  width: 91.11%;
  top: 437px;
  right: 6.48%;
  left: 2.41%;
  height: 156px;
  color: #fcfdfe;
  font-family: var(--font-manrope);
}
.need-help-post {
  position: absolute;
  width: 100%;
  top: 88px;
  left: 0;
  font-size: 63px;
  letter-spacing: 0.25px;
  line-height: 80px;
  font-family: var(--font-arial);
  white-space: pre-wrap;
  display: inline-block;
}
.frame8 {
  position: absolute;
  width: 59.26%;
  top: 724.05px;
  right: 40.74%;
  left: 0;
  height: 56px;
}
.rectangle-container,
.rectangle-div {
  position: absolute;
  left: 0;
  width: 175px;
  height: 46px;
}
.rectangle-div {
  top: 0;
  border-radius: 9.26px;
  background: linear-gradient(167.04deg, #afe9fd, #73adc1);
  border: 1.7px solid var(--color-skyblue-100);
  box-sizing: border-box;
}
.rectangle-container {
  top: 651px;
  font-size: 13.89px;
  color: var(--color-white);
}
.your-community-is {
  position: absolute;
  width: 84.07%;
  top: 366px;
  left: 2.41%;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
}
.frame {
  position: absolute;
  width: 19.25%;
  top: 1221px;
  right: 12.24%;
  left: 68.52%;
  height: 844px;
  font-size: var(--font-size-lg);
}
.learn-how-help {
  position: absolute;
  width: 85.69%;
  top: calc(50% - 12px);
  left: 0;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: inline-block;
}
.vector-icon {
  position: absolute;
  height: 46.02%;
  width: 9.64%;
  top: 25%;
  right: 0;
  bottom: 28.98%;
  left: 90.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learn-how-help-hand-works-parent {
  position: absolute;
  width: 16.98%;
  top: calc(50% + 923px);
  right: 58.55%;
  left: 24.47%;
  height: 24px;
  font-size: var(--font-size-base);
}
.logo-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.07px;
  height: 90.07px;
}
.home {
  left: 319px;
}

b:hover {
  color: rgb(158, 150, 150);
  text-decoration: underline;
  cursor: pointer;
}

b:visited {
  color: #3b4651;
  text-decoration: none;
}

.browse-tasks,
.contact,
.home,
.how-it-works {
  position: absolute;
  top: 30px;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3b4651;
}
.browse-tasks {
  left: 429px;
}
.contact,
.how-it-works {
  left: 628px;
}
.contact {
  left: 824px;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(196.78deg, #9ae0d3, #35a7a0 96.07%);
  border: 1.5px solid #68c4ba;
  box-sizing: border-box;
  width: 107px;
  height: 40px;
}
.login {
  position: absolute;
  top: 13px;
  left: 27px;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}
.rectangle-parent1 {
  position: absolute;
  top: 17px;
  left: 1003px;
  width: 107px;
  height: 40px;
  color: #eef3f8;
}
.group-div,
.logo-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  height: 90.07px;
}
.group-div {
  top: 34px;
  left: 36px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #9ae0d3, #35a7a0);
  width: 127px;
  height: 100%;
}

.become-a-helper {
  position: absolute;
  top: 106px;
  left: 63px;
  letter-spacing: 0.82em;
  line-height: 88%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 339px;
  height: 18px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.group-child3,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 127px;
  height: 490px;
}
.group-child3 {
  background: linear-gradient(180deg, #89c8dd, #73adc1),
    radial-gradient(50% 50%at 50% 50%, #89c8dd, #3f879e);
  width: 125px;
  height: 100%;
}
.need-helpp-doing {
  position: absolute;
  top: 60px;
  left: 63px;
  letter-spacing: 0.62em;
  line-height: 88%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 400px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.rectangle-parent3 {
  position: absolute;
  top: 490px;
  left: 0;
  width: 125px;
  height: 502px;
}

.ellipse-div,
.group-container {
  position: absolute;
  top: 0;
  left: 35px;
  width: 127px;
  height: 992px;
}
.ellipse-div {
  top: 902px;
  left: 0;
  border-radius: 50%;
  background-color: #6dc7bd;
  width: 70px;
  height: 70px;
}
.group-parent {
  position: absolute;
  top: 0;
  left: 1352px;
  width: 162px;
  height: 992px;
  font-size: var(--font-size-sm);
  color: var(--color-whitesmoke);
}
.landing-page {
  position: relative;
  border-radius: 30px;
  background: radial-gradient(50% 50%at 50% 50%, #ebf3f5 13.09%, #c5e2f0);
  border: 4px solid #3a3737;
  box-sizing: border-box;
  width: 100%;
  height: 2100px;
  text-align: left;
  font-size: 18.37px;
  color: var(--color-midnightblue);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #000000;
  line-height: normal;
  overflow-x: hidden;
}

:root {
  --font-inter: Inter;
  --font-arial: Arial;
  --font-manrope: Manrope;

  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-sm-9: 13.9px;
  --font-size-lg: 18px;
  --font-size-base-2: 16.2px;
  --font-size-lg-4: 18.4px;

  --color-white: #fff;
  --color-whitesmoke: #f0f0f0;
  --color-dimgray: #596774;
  --color-darkslategray-100: #42454a;
  --color-midnightblue: #061257;
  --color-skyblue-100: #7fbcd1;
  --color-gray-100: #000908;
  --color-black: #000;

  --br-3xs-3: 9.3px;
  --br-19xl: 38px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: radial-gradient(50% 50%at 50% 50%, #ebf3f5 13.09%, #b5d1df);
  box-shadow: 0 8px 16px #5f3d3d33;
  z-index: 1;
  border: #000000 1px transparent;
  border-radius: 10px;
  top: 45px;
  left: 650px;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3b4651;
}

.dropdown-content a {
  color: #111010;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dropdown a {
  display: block;
}

/* Footer */

.frame-icon,
.frame-icon1 {
  position: absolute;
  top: 1.41px;
  left: calc(50% - 7px);
  width: 21px;
  height: 21px;
  overflow: hidden;
}
.frame-icon1 {
  top: 3.41px;
  left: calc(50% + 26px);
  width: 18px;
  height: 18px;
}
.frame-icon2,
.frame10 {
  position: absolute;
  height: 24px;
}
.frame-icon2 {
  top: 0.41px;
  left: calc(50% - 43px);
  width: 24px;
  overflow: hidden;
  object-fit: cover;
}
.frame10 {
  width: 5.75%;
  top: calc(50% + 171px);
  right: 2.84%;
  left: 91.4%;
}
.sydney {
  width: 41.73%;
  top: 4px;
  left: 0.72%;
}
.adelaide,
.brisbane,
.sydney {
  position: absolute;
  line-height: 16.8px;
  display: inline-block;
}
.brisbane {
  width: 34.53%;
  top: 60.41px;
  left: 0.36%;
  font-size: var(--font-size-2xs);
}
.adelaide {
  width: 41.73%;
  top: 116px;
  left: 0.72%;
}
.canberra {
  width: 47.48%;
  top: 172px;
  left: 0;
}
.canberra,
.melbourne,
.newcastle,
.perth {
  position: absolute;
  line-height: 16.8px;
  display: inline-block;
}
.perth {
  width: 21.58%;
  top: 88.41px;
  left: 0.36%;
  font-size: var(--font-size-2xs);
}
.melbourne,
.newcastle {
  width: 46.76%;
  top: 144px;
  left: 0.72%;
}
.melbourne {
  width: 42.45%;
  top: 32.41px;
  left: 0.36%;
  font-size: var(--font-size-2xs);
}
.frame12 {
  position: absolute;
  width: 100%;
  top: 27px;
  right: -0.72%;
  left: 0.72%;
  height: 196px;
}
.popular-locations {
  position: absolute;
  width: 100%;
  top: calc(50% - 156.09px);
  left: 0.36%;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.frame11 {
  position: absolute;
  width: 9.19%;
  top: 65px;
  right: 24.14%;
  left: 66.67%;
  height: 313px;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
}
.earn-money,
.how-it-works1 {
  position: absolute;
  width: 54.84%;
  top: 4.41px;
  left: 0.4%;
  line-height: 16.8px;
  display: inline-block;
}
.earn-money {
  width: 51.61%;
  top: 60.41px;
}
.search-jobs,
.service-guides,
.side-hustle-calculator,
.student-discount {
  position: absolute;
  width: 97.58%;
  top: 116px;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 16.8px;
  display: inline-block;
}
.service-guides,
.side-hustle-calculator,
.student-discount {
  width: 84.68%;
  top: 172px;
}
.side-hustle-calculator,
.student-discount {
  top: 228px;
}
.side-hustle-calculator {
  width: 112.1%;
  top: 88px;
}
.airtasker-for-business,
.comparison-guides,
.new-users-faq {
  position: absolute;
  width: 87.1%;
  top: 200.41px;
  left: 0.4%;
  line-height: 16.8px;
  display: inline-block;
}
.airtasker-for-business,
.new-users-faq {
  width: 95.16%;
  top: 32.41px;
}
.new-users-faq {
  width: 65.32%;
  top: 256.41px;
}
.cost-guides,
.frame14 {
  position: absolute;
  left: 0;
}
.cost-guides {
  width: 90.32%;
  top: 144px;
  font-size: var(--font-size-xs);
  line-height: 16.8px;
  display: inline-block;
}
.frame14 {
  width: 100%;
  top: 28px;
  right: 0;
  height: 280px;
}
.discover {
  position: absolute;
  width: 54.84%;
  top: calc(50% - 156.09px);
  left: 0.4%;
  font-size: var(--font-size-base);
  line-height: 22.4px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
}
.frame13 {
  position: absolute;
  width: 8.2%;
  top: 65px;
  right: 65.61%;
  left: 26.19%;
  height: 313px;
  font-size: var(--font-size-2xs);
  color: var(--color-whitesmoke-200);
}
.company {
  position: absolute;
  width: 59.2%;
  top: calc(50% - 156.09px);
  left: 0.4%;
  line-height: 22.4px;
  display: inline-block;
}
.careers,
.community-guidelines {
  position: absolute;
  width: 60%;
  top: 32px;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 16.8px;
  display: inline-block;
}
.community-guidelines {
  width: 115.2%;
  top: 88px;
}
.terms-and-conditions {
  width: 95.2%;
  top: 144.41px;
}
.about-us,
.contact-us,
.investors,
.terms-and-conditions {
  position: absolute;
  left: 0.4%;
  line-height: 16.8px;
  display: inline-block;
}
.contact-us {
  width: 49.6%;
  top: 200.41px;
  font-size: var(--font-size-xs);
}
.about-us,
.investors {
  width: 40.8%;
  top: 256.41px;
}
.about-us {
  width: 39.2%;
  top: 4.41px;
}
.tasker-principles {
  width: 73.6%;
  top: 116.41px;
  left: 0.4%;
}
.blog,
.media-enquiries,
.privacy-policy,
.tasker-principles {
  position: absolute;
  line-height: 16.8px;
  display: inline-block;
}
.privacy-policy {
  width: 69.6%;
  top: 228px;
  left: 0.8%;
  font-size: var(--font-size-xs);
}
.blog,
.media-enquiries {
  width: 19.2%;
  top: 172.41px;
  left: 0.4%;
}
.media-enquiries {
  width: 69.6%;
  top: 60.41px;
}
.frame16 {
  position: absolute;
  width: 100%;
  top: 20px;
  right: 0;
  left: 0;
  height: 280px;
  font-size: var(--font-size-2xs);
  color: var(--color-whitesmoke-200);
}
.frame15 {
  position: absolute;
  width: 8.27%;
  top: 65px;
  right: 84.85%;
  left: 6.88%;
  height: 307px;
}
.popular-categories {
  position: absolute;
  width: 100%;
  top: calc(50% - 156.09px);
  left: 0.34%;
  line-height: 22.4px;
  display: inline-block;
}
.cleaning-services {
  position: absolute;
  width: 77.18%;
  top: 32px;
  left: 0;
  line-height: 16.8px;
  display: inline-block;
}
.all-services,
.auto-electricians,
.handyman-services,
.removalists {
  position: absolute;
  width: 45.64%;
  top: 88.41px;
  left: 0.34%;
  line-height: 16.8px;
  display: inline-block;
}
.all-services,
.auto-electricians,
.handyman-services {
  width: 63.76%;
  top: 144.41px;
}
.all-services,
.handyman-services {
  width: 74.5%;
  top: 200px;
  left: 0.67%;
}
.handyman-services {
  width: 73.15%;
  top: 4.41px;
  left: 0.34%;
  font-size: var(--font-size-2xs);
}
.gardening-services {
  width: 77.85%;
  top: 116px;
  left: 0.67%;
}
.assembly-services,
.delivery-services,
.gardening-services {
  position: absolute;
  line-height: 16.8px;
  display: inline-block;
}
.assembly-services {
  width: 69.13%;
  top: 172.41px;
  left: 0.34%;
  font-size: var(--font-size-2xs);
}
.delivery-services {
  width: 81.21%;
  top: 60px;
  left: 0.67%;
}
.frame18 {
  position: absolute;
  width: 100%;
  top: 21px;
  right: -0.67%;
  left: 0.67%;
  height: 224px;
  font-size: var(--font-size-xs);
  color: var(--color-whitesmoke-200);
}
.frame17 {
  position: absolute;
  width: 9.85%;
  top: 65px;
  right: 4.3%;
  left: 85.85%;
  height: 309px;
}

.group-div1 {
  position: absolute;
  top: 2053px;
  left: 0;
  width: 1512px;
  height: 440px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  border: 1px solid #3a3737;
  width: 100%;
  border-radius: 30px;
}

.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background: radial-gradient(50% 50%at 50% 50%, #9ae0d3, #35a7a0 96.07%),
    #d9d9d9;
  width: 1512px;
  height: 440px;
  width: 100%;
  border-radius: 30px;
}
.existing-members {
  position: absolute;
  width: 9.13%;
  top: calc(50% - 149px);
  left: 44.97%;
  line-height: 22.4px;
  font-weight: 500;
  display: inline-block;
}
.browse-tasks1,
.login1,
.post-a-task,
.support-centre {
  position: absolute;
  width: 43.48%;
  top: 4.41px;
  left: 0.36%;
  line-height: 16.8px;
  display: inline-block;
}
.browse-tasks1,
.login1,
.support-centre {
  width: 21.74%;
  top: 60.41px;
}
.browse-tasks1,
.support-centre {
  width: 52.17%;
  top: 32.41px;
}
.support-centre {
  width: 63.04%;
  top: 88px;
  left: 0;
  font-size: var(--font-size-xs);
}
.frame9 {
  position: absolute;
  width: 9.13%;
  top: 98px;
  right: 43.72%;
  left: 47.16%;
  height: 112px;
  font-size: var(--font-size-2xs);
  color: var(--color-whitesmoke-200);
}

.blank-profile-picture-973460-1-icon1 {
  border-radius: 33px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.blank-profile-picture-973460-1-icon1:hover {
  cursor: pointer;
  scale: 1.09;
  transition: 0.5s;
}
